<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHIEF GUESTS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>
<body >
    <div class="mt-3">
        <marquee ><h5><span style="color:red">Dates to Remember :</span>  Full Paper Submission: 30th March 2024 (Extended) | Registration Deadline: 30th March 2024 | Camera ready paper submission: 31st March 2024</h5></marquee>
      </div>


        {% include 'navbar.html' %}

        <div  style="height: 60vh;display:flex;justify-content:center;align-items:center;background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0, 0, 0, 0.40)),url('static/images/3im.jpg');background-size: cover;background-position:center;width:100%;" >
            <div><h1 style="font-weight:900;" class="text-white text-center" data-aos="zoom-in"  data-aos-easing="linear"
                   data-aos-duration="800">CHIEF | <span class="text-danger">GUESTS</span> </h1></div>

        </div>

        <br><br><br>

   <div class="container  text-white" >
    <center>
    <div class="container jumbotron p-5 shadow p-3 mb-5 rounded" style="width:70%;box-sizing:border-box;padding:10px;background-image:linear-gradient(to left,#00b4db
      ,#0083b0);">
      <img class="img-fluid" src="static/images/Joshi.jpg" width="40%" height="300px" style="border-radius:10px;">
      <br><br>
      <h1 style="font-size:26px;font-weight:900;text-shadow: 2px 2px 4px #000000;">Dr. JOSHI MANOHAR</h1><hr class="bg-light">
      <h3 style="font-size:18px">Dean & HOD, </h3>
      <h3 style="font-size:18px">Presidency University,</h3>
      <h3 style="font-size:18px">Bangalore.</h3>
     
    </div>
    </center>
   </div>
      <br><br><br>

  <div class="container  text-white" >
    <center>
    <div class="container jumbotron p-5 shadow p-3 mb-5 rounded" style="width:70%;box-sizing:border-box;padding:10px; background-image:linear-gradient(to left,#00b4db
      ,#0083b0);">
      <img class="img-fluid" src="static/images/Lekshmi.jpg" width="40%" height="300px" style="border-radius:10px;">
      <br><br>
      <h1 style="font-size:26px;font-weight:900;text-shadow: 2px 2px 4px #000000;">Dr. LEKSHMI</h1><hr class="bg-light">
      <h3 style="font-size:18px">Dean, </h3>
      <h3 style="font-size:18px">R&D Department,</h3>
      <h3 style="font-size:18px">Associate Professor,</h3>

      <h3 style="font-size:18px">AMET University.</h3>

    </div>
    </center>
   </div>
  <br><br><br>

  <div class="container  text-white" >
    <center>
    <div class="container jumbotron p-5 shadow p-3 mb-5 rounded" style="width:70%;box-sizing:border-box;padding:10px;background-image:linear-gradient(to left,#00b4db
      ,#0083b0);">
      <img class="img-fluid" src="static/images/Dr.B.Vaikundaselvan.jpg" width="40%" height="300px" style="border-radius:10px;">
      <br><br>
      <h1 style="font-size:26px;font-weight:900; text-shadow: 2px 2px 4px #000000;">Dr. VAIKUNDA SELVAN </h1><hr class="bg-light">
      <h3 style="font-size:18px">Dean,</h3>
      <h3 style="font-size:18px">R&D Department,</h3>
      <h3 style="font-size:18px">Nehru Group of Institutions,</h3>

      <h3 style="font-size:18px">Coimbatore.</h3>

    </div>
    </center>
   </div>
  <br><br><br>

  <div class="container   text-white" >
    <center>
    <div  class="container jumbotron p-5 shadow p-3 mb-5 rounded" style="width:70%;box-sizing:border-box;padding:10px;background-image:linear-gradient(to left,#00b4db
      ,#0083b0); ">
      <img class="img-fluid" src="static/images/Dr. D. SAM HARISON.jpg" width="40%" height="300px" style="border-radius:10px;">
      <br><br>
      <h1 style="font-size:26px;font-weight:900;text-shadow: 2px 2px 4px #000000;">Dr. SAM HARISON</h1><hr class="bg-light">
      <h3 style="font-size:18px">HOD/EEE, </h3>
      <h3 style="font-size:18px">Rohini College of Engineering,</h3>
      

      <h3 style="font-size:18px">Nagercoil.</h3>

    </div>
    </center>
   </div>



  <div class="jumbotron" style="margin:0px">
      <br><br>
      <div class="container ">
      <div class="row">
        <div class="col-md-4 " style="padding-top:30px">
          <img src="static/ablg.png" width="140px"><br><br>
          <p style="text-align: justify;">ICMTEM-2024 The International Conference on Modern Trends in Engineering and Management (ICMTEM 2024) will be held on 02th April 2024 at Stella Mary’s College of Engineering, Kanyakumari, India.</p>

        </div>
        <div class="col-md-4 " style="padding-left: 40px;padding-top:30px">
          <p><b>CONTACT US:</b></p>
          <p><b>PROGRAM CO-ORDINATOR <br>(AB TECHNOLOGIES) </b></p>
          <p>ICMTEM - 2024 | Kanyakumari, India</p>
          <p>Call: +91 9840511458 , +91 8807068644 , +91 9363401105</p>
          <p>WhatsApp: +91 9840511458</p>
          <p>Email: icmtem2024@gmail.com</p>

        </div>
        <div class="col-md-4 bg-light" style="padding:10px;">
          <h5>Venue</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.683783072304!2d77.33839087021896!3d8.133639684476929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04fae7b453d579%3A0xf4356d0b26d3dd2a!2sStella%20Mary&#39;s%20College%20Of%20Engineering!5e0!3m2!1sen!2sin!4v1709724089173!5m2!1sen!2sin" width="100%" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
      </div>
    </div>

    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>
    AOS.init();
  </script>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  </html>