<nav class="navbar navbar-expand-lg navbar-dark   text-white" style="background-image:linear-gradient(#37ecba,#37ecba);font-weight:900">

  


  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>

  </button>


    <div class="collapse navbar-collapse text-center " id="navbarNavDropdown">
      

      <ul class="navbar-nav mx-auto ">

         <!-- &nbsp;     &nbsp; &nbsp;     &nbsp; &nbsp;     &nbsp; &nbsp;     &nbsp; &nbsp;     &nbsp; &nbsp;     &nbsp; &nbsp; 
        &nbsp;     &nbsp; &nbsp;     -->

       

          <li class="nav-item">

            <a class="nav-link text-dark" href="/">Home  </a>

          </li>
        &nbsp;

          <!-- &nbsp;     &nbsp;&nbsp; &nbsp;      -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           About
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        &nbsp;
          <!-- &nbsp;     &nbsp;&nbsp;&nbsp;  -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           Conference Details
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        &nbsp;
         <!-- &nbsp; &nbsp; &nbsp;&nbsp;  -->

      

    

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Committe
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        &nbsp;
      <!-- &nbsp;     &nbsp; &nbsp; &nbsp;      -->

        <li class="nav-item">

          <a class="nav-link text-dark" href="registrationandpayments">Keynotespeakers</a>

        </li>
        &nbsp;
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;  -->
     
        
        <!-- &nbsp;     &nbsp;&nbsp;&nbsp;  -->
        
        
           
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           Submission
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        &nbsp;


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           Registration
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        &nbsp;
        
        <li class="nav-item">

          <a class="nav-link text-dark" href="importantdates">Journal</a>

        </li>
          &nbsp;
        
          <!-- &nbsp;     &nbsp; -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           Sponsor
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        &nbsp;

        <li class="nav-item">

          <a class="nav-link text-dark" href="importantdates">Award</a>

        </li>
          &nbsp;
        <li class="nav-item">

          <a class="nav-link text-dark" href="importantdates">Venue</a>

        </li>
          &nbsp;
        <li class="nav-item">

          <a class="nav-link text-dark" href="importantdates">Contactus</a>

        </li>
          &nbsp;
        

        </ul>
   
      
     

    </div>


</nav>

